.card .table tbody td:first-child, .card .table thead th:first-child {
    padding-left: 35px!important;
}



/*****footer style*****/

.footerleft {
    font-family: 'OpenSans';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525a65;
    line-height: 60px;
}

#customlinklist li {
    display: inline;
    font-family: 'OpenSans';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
}

#customlinklist li a {
    color: #525a65!important;
}

.pull-right {
    float: right;
}