@media (min-width: 992px){
    #mainNav .navbar-collapse .navbar-sidenav {
        top: 50px!important;
    
    }
}


.hidebutton{
	display: none!important;
}


.content-wrapper {
    padding-top: 3rem!important;
 }

