
/*shipment form step 1 styles*/
	.shipcontent{
		text-align: left;
	}

	#requestProductTable td, #requestProductTable th {
		border-left:none;
		border-right:none;
	}

	#requestProductTable tr{
		text-align: left;
	}
	#requestProductTable{
		border-top:none;
		border-left:none;
		border-right:none;
	}

	.cancel {
		width: 173.4px;
		height: 32px;
		border-radius: 2px;
		box-shadow: inset 0 -1px 0 0 #e5e5e5;
		background-color: #f2f2f2;
		text-transform: uppercase;
		font-size:13px;
		float: left;
	}

	.submitBTN, .next{
		width: 180px;
		height: 32px;
		border-radius: 2px;
		background-color: #2296f3;
		color:#ffffff;
		text-transform: uppercase;
		float:right;
		font-size:13px;
		font-weight: 200;
	}

	.submitBTN:hover{
        opacity:0.7;
    }
	/* ***Pop up alert box*/



.add_title{
	text-align: left;
	color: #525a65;
	opacity: 0.8;
	letter-spacing: normal;
	font-size: 1.3em;
}

.itemDetails{
	color: #525a65;
	text-align: left;
	border-bottom:1px solid rgba(186,200,219, 0.4);
	font-size:1.1rem;
}

.selectBox{
	width:80%;
	margin: 0 auto;
}

/*end of shipment form step 1 styles*/
.contenttable{
	text-align: left;

}
.contenttable p{
	letter-spacing: 0.6px;
	color: #525a65;
}

.contentheader{
	text-align: left;
	border-bottom:1px solid #cccccc;
}
/*end of shipment form step 3 styles*/


/*form styles*/
#msform {
	width: 100%;
	height:100%;
	margin: 50px 0px;
	text-align: center;
	position: relative;
	
}

/*Hide all except first fieldset*/
#msform .fieldset:not(:first-of-type) {
	display: none;
}

#next1:hover{
	opacity: 0.8;
}
/*headings*/
.fs-title {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	color: #525a65;
	margin-bottom: 10px;
	text-align: left;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	padding: 0;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33%;
	float: left;
	position: relative;
	/* border:1px solid #e5e5e5; /***for step border/ */


}
#progressbar li:before {
	content: "Step"counter(step);
	counter-increment: step;

	line-height: 50px;
	display: block;
	font-size: 12px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto;

	border: 1px solid #e5e5e5; /***for step border/ */
}

/**set the last step text*/
#progressbar li:nth-child(3):before {
	content: "Last Step";
}



/*progressbar connectors*/
#progressbar li.active:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
	
	/* right: -17px;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 19px solid #2296f3;
	 */
}

/* .arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
} */


/* .arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
} */


#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps blue*/
/*The number of the step and the connector before it = blue*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #2296f3;
	color: white;
}

.help-block {
  font-size: .8em;
  color: #d0021b;
  text-align: left;
  margin-bottom: .5em;
  float:right;
}
